/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,200);
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body {
    perspective: 650px;
}

body p{
    font-family: stolzl, sans-serif;
    font-style: normal;
    font-weight: 500;
}
body h1{
    font-family: stolzl, sans-serif;
    font-style: normal;
    font-weight: 700;
}



.image img {
    max-width: 70%;
    height: auto;
    cursor: pointer;
    width:1300px;
    position:absolute;
    left:50%;
    top:10%;
}

.clip-svg {
    clip-path: url(#clipPath);
}

.tekst{
    position:absolute;
    top:20%;
    left:10%;
    z-index: 1000 !important;

}

.tekst h1{
    font-size:60px;
}
.tekst p {
    width:40%;

}
.tekst img{
    max-width:35%;
}

.tekst2{
    position:absolute;
    top:20%;
    left:10%;
}

.tekst2 h1{
    font-size:60px;
}
.tekst2 p {
    width:40%;
}
.tekst2 img{
    max-width:35%;
}

.pos{
    max-width: 100%;
    height: auto;
    cursor: pointer;
    width:50%;
    position:absolute;
    left:50%;
    top:0;
}

.pos2{
    max-width: 100%;
    width:100%;
    height:100%;
    position:absolute;
    z-index: 0 !important;
    top:0;
}
.pos6{
    max-width: 100%;
    width:100%;
    height:100%;
    position:absolute;

    z-index: -2;
    opacity: 0;
    top: 0;
}
.pos7{
    max-width: 100%;
    width:100%;
    height:100%;
    position:absolute;
    top: -200%;
    z-index: -1;
}
.pos3{
    max-width: 100%;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    z-index: 0 !important;
}
.pos4{
    max-width: 100%;
    width:100%;
    height:100%;
    position:absolute;
    top:0;

}
.pos5{
    max-width: 100%;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
  /* transform:translateX(100%);  */

}
#Layer_1{
    z-index: 100;
    max-width: 100%;
    height: auto;
    cursor: pointer;
    width:50%;
    position:absolute;
    left:50%;
    top:0;

}

#flora{
    z-index: 100;
    max-width: 100%;
    height: auto;
    cursor: pointer;
    position:absolute;
    left:50%;
    width:95%;
    top:-30%;
}



#flora {
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -transform-origin: 50% 0%;
    perspective: 300px;
}


h1{
    color:#4CAF50 !important;
}

#section1{
    opacity: 0;
}
#section2{
    opacity: 0;
}
#section3{
    opacity: 0;
}

#section0 {
    opacity:1;
}

.posvrana{
    max-width: 100%;
    height: auto;
    cursor: pointer;
    width:60%;
    position:absolute;
    left:50%;
    top:5%;
    opacity:0;
}

#fp-nav ul li a span{
    background:green !important;
}

#fp-nav{
    top:7% !important;
    pointer-events: none;
}

#cont{
    opacity:1;
}


 .fp-controlArrow.fp-prev{
    visibility: hidden;
     pointer-events: none;
}
.fp-controlArrow.fp-next{
    visibility: hidden;
    pointer-events: none;
}

#slide1{
    visibility: hidden;
}


#con2{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
}








.button {
    position: relative;
    display: block;
    background: none center center no-repeat;
    background-size: cover;
    border: 2px solid #4CAF50;
    text-transform: uppercase;
    letter-spacing: .3rem;
    padding: 20px 15px;
    text-align: center;
    max-width: 240px;
    min-width: 190px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: border 1s cubic-bezier(0.19,1,.22,1),color .6s cubic-bezier(0.19,1,.22,1);
    transition: border 1s cubic-bezier(0.19,1,.22,1), color .6s cubic-bezier(0.19,1,.22,1), background 5s cubic-bezier(0.19,1,.22,1);
}

.button a {
    color: #4CAF50;
    font-family: 'Varela Round';
    text-decoration: none;
}

.button .mask {
    background: #4CAF50;
    background: rgba(76,175,80,0.6);
}

.button .mask {
    position: absolute;
    display: block;
    width: 200px;
    height: 100px;
    -webkit-transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
    transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
    -webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1);
    transition: all 1.1s cubic-bezier(0.19,1,.22,1);
}

.button .shift {
    -webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1);
    transition: all 1.1s cubic-bezier(0.19,1,.22,1);
}

.button:hover {
    border-color: #000;
    /* box-shadow: 0 0 5px rgba(255,245,245,0.8); */
    /* background-image: url('http://cuinine.com/img/codepen/savvy.jpg'); */
}

.button:hover a {
    color: #000;
}

.button:hover .mask {
    background: #fff;
    -webkit-transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
    transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
}

.button:hover .shift {
    padding-left: 5px;
}





.button2 {
    position: relative;
    display: block;
    background: none center center no-repeat;
    background-size: cover;
    border: 2px solid #4CAF50;
    text-transform: uppercase;
    letter-spacing: .3rem;
    padding: 20px 15px;
    text-align: center;
    max-width: 240px;
    min-width: 190px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: border 1s cubic-bezier(0.19,1,.22,1),color .6s cubic-bezier(0.19,1,.22,1);
    transition: border 1s cubic-bezier(0.19,1,.22,1), color .6s cubic-bezier(0.19,1,.22,1), background 5s cubic-bezier(0.19,1,.22,1);
}

.button2 a {
    color: #4CAF50;
    font-family: 'Varela Round';
    text-decoration: none;
}

.button2 .mask2 {
    background: #4CAF50;
    background: rgba(76,175,80,0.8);
}

.button2 .mask2 {
    position: absolute;
    display: block;
    width: 200px;
    height: 100px;
    -webkit-transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
    transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
    -webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1);
    transition: all 1.1s cubic-bezier(0.19,1,.22,1);
}

.button2 .shift2 {
    -webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1);
    transition: all 1.1s cubic-bezier(0.19,1,.22,1);
}

.button2:hover {
    border-color: white;
    /* box-shadow: 0 0 5px rgba(255,245,245,0.8); */
    /* background-image: url('http://cuinine.com/img/codepen/savvy.jpg'); */
}

.button2:hover a {
    color: white;
}

.button2:hover .mask2 {
    background: #fff;
    -webkit-transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
    transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
}

.button2:hover .shift2 {
    padding-left: 5px;
}




#moveToBack{
    left: 3%;
    position: absolute;
    bottom: 5%;
}










#vrana{
    transform:scale(0.94) translateX(30px);

}


#slide2{
    opacity:0 ;
}


#ink{
    opacity: 0.7;
    position: absolute;
    z-index: -1;
    bottom: -33%;
    left: -22%;
    height: 613px;
    width: 1220px;
    max-width: 80%;
}

















.no-js .back { display: none;  }
.js .back{ display: block; position: absolute;  }
.preload {
    width: 250px;
    height: 250px;
    color: #424242;;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 5px solid #4CAF50;
    border-radius: 10%;
    -webkit-animation: borderScale 1s infinite ease-in-out;
    animation: borderScale 1s infinite ease-in-out;
    z-index:9999 !important;



}

.back{
    width:100%;
    height:100%;
    background-color:white;
    z-index:9998 !important;
}

#loadingText {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    top:38%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes borderScale {
    0% {
        border: 5px solid white;
    }
    50% {
        border: 15px solid #4CAF50;
    }
    100% {
        border: 5px solid white;
    }
}

@keyframes borderScale {
    0% {
        border: 5px solid white;
    }
    50% {
        border: 15px solid #4CAF50;
    }
    100% {
        border: 5px solid white;
    }
}



#cont0{
    opacity:0;
}



#section1{
    background-image:url("../img/swampback.svg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;

}
#section2{
    background-image:url("../img/livada.svg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;

}
#section3{
    background-image:url("../img/woodtexture.svg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;

}

#section4{
    opacity:0 ;
}

#featherimg{
    width:250px;
    position: absolute;
    top:0;
    max-width:50%;
}
.containfeather{
    width:400px;
    left:55%;
    top:0;
    position:relative;
    height: 100%;
}




@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
.scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
    color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #4CAF50;
    border-radius: 23px;

}
.scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #4CAF50;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;

}

#scrollbtn{
    bottom:5%;
    opacity:0;
    pointer-events: none !important;
}


